@{
    ViewBag.Title = "Home Page";
}

<div id="headerwrap">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>It Doesn't Take a Rocket <b>Scientist</b></h1>
                <h2>It Takes a Designer</h2>
            </div>
        </div><!-- row -->
    </div><!-- container -->
</div><!-- headerwrap -->

<div class="container w">
    <div class="row centered">
        <br><br>
        <div class="col-lg-4">
            <i class="fa fa-heart"></i>
            <h4>DESIGN</h4>
            <p>Diseñado bajo los principios de paginas responsive</p>
        </div><!-- col-lg-4 -->

        <div class="col-lg-4">
            <i class="fa fa-laptop"></i>
            <h4>BOOTSTRAP</h4>
            <p>Se incorpora el framework de desarrollo de sitios web</p>
        </div><!-- col-lg-4 -->

        <div class="col-lg-4">
            <i class="fa fa-trophy"></i>
            <h4>SUPPORT</h4>
            <p>Se cuenta con el soporte de herramientas Microsoft</p>
        </div><!-- col-lg-4 -->
    </div><!-- row -->
    <br>
    <br>
</div><!-- container -->
<!-- PORTFOLIO SECTION -->
<div id="dg">
    <div class="container">
        <div class="row centered">
            <h4>LATEST WORKS</h4>
            <br>
            <div class="col-lg-4">
                <div class="tilt">
                    <a href="#"><img src="~/Content/Home/p01.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="tilt">
                    <a href="#"><img src="~/Content/Home/p03.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="tilt">
                    <a href="#"><img src="~/Content/Home/p02.png" alt=""></a>
                </div>
            </div>
        </div><!-- row -->
    </div><!-- container -->
</div><!-- DG -->
